# Warcraft Logs CN API credentials
# Copy this file to .env and fill in your real values.
WCL_CLIENT_ID=a161a0e2-ab43-432a-b8fc-dce774ea7f19
WCL_CLIENT_SECRET=KYNy8NyalGHQN1zLEeOfo6L77xa2puMpdzOl1jIJ

